<p>searchpage works!</p>

<app-navbar></app-navbar>
<form action="http://localhost:3000/search" method="POST">

    <label for="searchQuery"><b>Search</b></label>
    <input id="searchForm" type="form-control" placeholder="Enter your Search Query" name="searchQuery">
    
</form>
<button id="search" type="button" class="search" >Search</button>

<!--


<input type="text"  value="Search" ng-model="searchquery">

<ul id = temporaryList>
    <li id = "Amaretto_Cherry" class = "hide"> Amaretto Cherry </li>
    <li id = "Apple_Cinnamon" class = "hide">Apple Cinnamon</li>
    <li id = "Banana_Fudge_Swirl" class = "hide">Banana Fudge Swirl</li>
    <li id = "Bananas_Foster" class = hide>Bananas Foster</li>
    <li id = Blue_Raspberry class = hide>Blue Raspberry</li>
    <li id = Carrot_Cake class = hide>Carrot Cake</li>
    <li id = Chocolate_Brownie_Chunks class = hide>Chocolate Brownie Chunks</li>
    <li id = Chocolate_Caramel_Almond class = hide>Chocolate Caramel Almond</li>
    <li id = Chocolate_Cheesecake class = hide>Chocolate Cheesecake</li>
    <li id = Chocolate_Cherry class = hide>Chocolate Cherry</li>
    <li id = Chocolate_Chip_Cookie class = hide>Chocolate Chip Cookie</li>
    <li id = Chocolate_Fudge class = hide>Chocolate Fudge</li>
    <li id = Chocolate_Mint class = hide>Chocolate Mint</li>
    <li id = Cookies_Cream class = hide>Chocolate Cookies & Cream</li>
    <li id = Gorilla_Vanilla class = hide>Gorilla Vanilla</li>
    <li id = Honey_Vanilla class = hide>Honey Vanilla</li>
    <li id = Irish_Coffee class = hide>Irish Coffee</li>
    <li id = Irish_Cream class = hide>Irish Cream</li>
    <li id = PB_Crunch class = hide>Peanut Butter Crunch</li>
    <li id = Pistachio class = hide>Pistachio</li>
    <li id = Smores class=hide>Smores</li>
    <li id=Snickers_Caramel_Cheesecake class=hide>Snickers Caramel Cheesecake</li>
    <li id=Vanilla class=hide>Vanilla</li>
    <li id=Vanilla_Cheesecake class=hide>Vanilla Cheesecake</li>
</ul>

<table>

</table>-->
