<app-navbar></app-navbar>
<form (submit)="search()">
    <div role="alert" *ngIf="formError" class="alert alert-danger">{{ formError }}</div>
    <div class="search">
        <label for="searchForm"><b>Search</b> </label>
        <input type="form-control" placeholder="Enter your Search Query" name="searchQuery" [(ngModel)]="searchObject.searchQuery">
    </div>
    <button id="search" type="submit" class="search">Search</button>
</form>

<ul id="resultsList"></ul>

<!-- <section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section> -->