<h1>Welcome to the Cool pints club!!</h1>
<p>If you are looking for some homemade ice cream you have come to the right place. <br>
    Choose from our list of flavors exactly what you want in your shippment, or let us suprise you.<br>
    <br>

    Flavors:<br>
    Amaretto Cherry<br>
    Apple Cinnamon<br>
    Banana Fudge Swirl<br>
    Bananas Foster<br>
    Blue Raspberry<br>
    Carrot Cake<br>
    Chocolate Brownie Chunks<br>
    Chocolate Caramel Almond<br>
    Chocolate Cheesecake<br>
    Chocolate Cherry<br>
    Chocolate Chip Cookie<br>
    Chocolate Chocolate Fudge<br>
    Chocolate Chocolate Mint<br>
    Chocolate Cookies & Cream<br>
    Gorilla Vanilla<br>
    Honey Vanilla<br>
    Irish Coffee<br>
    Irish Cream<br>
    Peanut Butter Crunch<br>
    Pistachio<br>
    Smores<br>
    Snickers Caramel Cheesecake<br>
    Vanilla<br>
    Vanilla Bean<br>
    Vanilla Bean Cheesecake<br>
    Vanilla Chocolate Chip<br>
    Vanilla Cookies & Cream<br>
</p>
