<h1>Welcome to the Cool Pints Club!</h1>
<p>If you are looking for some homemade ice cream, you have come to the right place.
    Choose from our list of flavors to get exactly what you want in your shipment, or let us suprise you.</p>

<app-navbar></app-navbar>

<h2 style="text-align: center;">Flavors</h2>
<ul>
    <li>Amaretto Cherry</li>
    <li>Apple Cinnamon</li>
    <li>Banana Fudge Swirl</li>
    <li>Bananas Foster</li>
    <li>Blue Raspberry</li>
    <li>Carrot Cake</li>
    <li>Chocolate Brownie Chunks</li>
    <li>Chocolate Caramel Almond</li>
    <li>Chocolate Cheesecake</li>
    <li>Chocolate Cherry</li>
    <li>Chocolate Chip Cookie</li>
    <li>Chocolate Chocolate Fudge</li>
    <li>Chocolate Chocolate Mint</li>
    <li>Chocolate Cookies & Cream</li>
    <li>Gorilla Vanilla</li>
    <li>Honey Vanilla</li>
    <li>Irish Coffee</li>
    <li>Irish Cream</li>
    <li>Peanut Butter Crunch</li>
    <li>Pistachio</li>
    <li>Smores</li>
    <li>Snickers Caramel Cheesecake</li>
    <li>Vanilla</li>
    <li>Vanilla Bean</li>
    <li>Vanilla Bean Cheesecake</li>
    <li>Vanilla Chocolate Chip</li>
    <li>Vanilla Cookies & Cream</li>
</ul>