<script src="homepage.js" async></script>
<h1>Welcome to the Cool Pints Club!</h1>
<p>If you are looking for some homemade ice cream, you have come to the right place.
    Choose from our list of flavors to get exactly what you want in your shipment, or let us suprise you.</p>

<app-navbar></app-navbar>

<h2 style="text-align: center;">List of Flavors</h2>
<div class="shop-flavors">
    <ul>
        <!-- <span class="flavor-item-title">Apple Cinnamon</span>         -->
        <div class="flavor-item">
            <li class="flavor-item-title">Amaretto Cherry</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Apple Cinnamon</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$14.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Bananas Foster</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Blue Raspberry</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Carrot Cake</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Chocolate Brownie Chunks</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Chocolate Caramel Almond</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Chocolate Cheesecake</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Chocolate Cherry</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Chocolate Chip Cookie</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Chocolate Fudge</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Chocolate Mint</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Chocolate Cookies & Cream</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Gorilla Vanilla</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Honey Vanilla</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Irish Coffee</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Irish Cream</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Peanut Butter Crunch</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Pistachio</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Smores</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Snickers Caramel Cheesecake</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Vanilla</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="flavor-item">
            <li class="flavor-item-title">Vanilla Cheesecake</li>
            <img class="flavor-item-image" src="test.png">
            <div class="flavor-item-details">
                <span class="flavor-item-price">$12.99</span>
                <button class="btn btn-primary flavor-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
    </ul>
</div>
<section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>