<h1>Login</h1>

<app-navbar></app-navbar>
<form action="http://localhost:3000/login" method="get" ng-submit="onSubmit()">
  
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit" >Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
    </div>
  </form>