<div class="navbar">
    <a href="/">
        <div class="navbar-item">Home</div>
    </a>
    <a href="/subscriptions">
        <div class="navbar-item">Subscriptions</div>
    </a>
    <a href="/about">
        <div class="navbar-item">About</div>
    </a>
    <a href="/search">
        <div class="navbar-item">Search</div>
    </a>
    <a href="/login">
        <div class="navbar-item" *ngIf="!authenticationService.isLoggedIn()">Login</div>
    </a>
    <a href="/signup">
        <div class="navbar-item" *ngIf="!authenticationService.isLoggedIn()">Sign Up</div>
    </a>
    <a href="/account">
        <div class="navbar-item" *ngIf="authenticationService.isLoggedIn()">{{authenticationService.getCurrentUser().fullName}}</div>
    </a>
    <a href="/cart">
        <div class="navbar-item" *ngIf="authenticationService.isLoggedIn()">Checkout</div>
    </a>
    
</div>